# end of tail imputation

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

from feature_engine.imputation import (DropMissingData,
                                       MeanMedianImputer)
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('../data/preprocessing/credit_approval_uci.csv')
data.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,target
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,202.0,0,1
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,43.0,560,1
2,a,24.50,NaN,u,g,q,h,NaN,NaN,NaN,0,f,g,280.0,824,1
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,100.0,3,1
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,120.0,0,1

In [3]:
X_train, X_test, y_train, y_test = train_test_split(data.drop("target", axis=1),
                                                   data['target'],
                                                   test_size=0.3,
                                                   random_state=0
                                                   )

In [4]:
numerical_vars = X_train.select_dtypes('number').columns.to_list()
numerical_vars

['A2', 'A3', 'A8', 'A11', 'A14', 'A15']

In [5]:
categroical_vars = [variables for variables in X_train.columns if variables not in numerical_vars]
categroical_vars

['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10', 'A12', 'A13']

In [6]:
IQR = (X_train[numerical_vars].quantile(0.75) - X_train[numerical_vars].quantile(0.25))
IQR

A2      16.4200
A3       6.5825
A8       2.8350
A11      3.0000
A14    212.0000
A15    450.0000
dtype: float64

In [7]:
imputation_dict = (X_train[numerical_vars].quantile(0.75) + (1.5 * IQR)).to_dict()
imputation_dict

{'A2': 63.550000000000004,
 'A3': 17.43625,
 'A8': 7.2524999999999995,
 'A11': 7.5,
 'A14': 590.0,
 'A15': 1125.0}

In [8]:
X_train[numerical_vars] = X_train[numerical_vars].fillna(imputation_dict)
X_test[numerical_vars] = X_test[numerical_vars].fillna(imputation_dict)